input.txtl {
border-radius: 8px;
border : 0 ;
padding : 1em ;
width: 80%;
margin-bottom : 2em ;
margin-top : 2em ;

}
input.txtlp {
border-radius: 8px;
border : 0 ;
padding : 1em ;
width: 80%;
margin-bottom : 2em ;
}

input.btnl {
border-radius: 8px;
border : 0 ;
display :block ;
padding :1em 3em ;
background :#33cc33 ;
color: #003A61;
margin-bottom :1em;
margin-left: 10em;
cursor :pointer ;
}

.login-container {
    
    
    background-color: #505050;
	padding: 20px 0px 10px 60px;
   margin: 50px 50px 300px 300px;
   width: 40%;
}